{% extends "./base.html" %} {% block content %}

{% load crispy_forms_tags %}
<h1 class="h1 text-uppercase text-center">
  <img src="/static/logo.jpg" class="img-rounded" alt="Cinque Terre">
  MES COLLEGE OF ARTS COMMERCE AND SCIENCE    </h1>
<div class="m-3 p-3">
  <h3 class="h3 text-capitalize text-center">{{title}}</h3>
</div>

<form method="POST" id="Form"  enctype="multipart/form-data">
  {% csrf_token %}
{{form|crispy}}
<input type="submit" value="Login" class="btn btn-primary btn-lg" name="form"/>
        </form>
        New user? <a href="{%url 'profile_register'%}" class="btn btn-primary btn-sm">Register</a>
        <center><b>{{message}}</b></center>
         {% endblock %}
